/* Auth.css */

.success-icon {
  font-size: 100px;
  color: #4caf50;
  animation: bounce 1s ease-in-out infinite;
  margin-bottom: 20px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}


.input-field {
  width: 80%;
  padding: 14px;
  margin-bottom: 2.5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--fontFamily);
  border-radius: 8px;
}
.input-fields {
  width: 93%;
  padding: 14px;
  margin-bottom: 2.5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--fontFamily);
  border-radius: 8px;
}
.err-field {
  color: red;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

.btn-auth {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #C19F62;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: -124px;
  height: 50px;
  width: 200px;
  font-family: var(--fontFamily);
}

.div-btn-auth {
  background-color: #121212;
  width: 200px;
  height: 50px;
  margin-bottom: -48px;
  margin-left: 16px;
  border-radius: 4px;
}

.auth-div-p {
  font-size: 14px;
  color: #808080;
  margin: 0px;
  padding-bottom: 48px;
}

.btn-auth:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Auth.css */
.auth-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 16%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.div-input {
  margin-bottom: 32px;
}

.logo-img {
  height: 100vh;
  width: 100%;
  /* Adjust size as needed */
}

.auth-div-div-div {
  width: 40%;
  /* Adjust width as needed */
}


.auth-div-div {
  width: 50%;
  /* Adjust width as needed */
}

.image-containersz {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 32px;
}

.overlaysz {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Adjust the opacity as needed */
}

.imagesz {
  width: 100%;
  height: auto;

}

@media screen and (max-width: 768px) {
  .auth-div {
    flex-direction: column-reverse;
  }
  .auth-div-div-div {
    width: 100%;
    /* Adjust width as needed */
  }
  
  .logo-img {
    display: none;
    /* Hide image on mobile view */
  }

  .auth-div-div {
    width: 100%;
    /* Full width on mobile view */
  }
}

.auth-div-div {
  margin-left: 20px;
  /* Adjust margin as needed */
}