
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
  }
  
  .not-found-content {
    text-align: center;
  }
  .not-found-content-h {
    text-align: center;
  }
  .not-found-content-p {
    text-align: center;
  }
  .not-found-content img {
    width: 200px; 
    margin-bottom: 20px;
  }
  
  .link-to-home {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;
  }
  
  .link-to-home:hover {
    text-decoration: underline;
  }
  
  .custom-success-toast {
    border-radius: 8px;
    font-family: var(--font-family);
  }
  .custom-error-toast {
    border-radius: 8px;
    font-family: var(--font-family);
  }
  
  .custom-progress-success {
    background-color: #fff;
  }
  
  .custom-progress-error {
    background-color: #fff;
  }
  