@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");

/* General font styles */
body {
  font-family: Arial, Helvetica, sans-serif; /* Fallback to web-safe fonts */
  -webkit-font-smoothing: antialiased; /* Smoother font rendering */
  -moz-osx-font-smoothing: grayscale; /* Smoother font rendering */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: 'DM Sans', sans-serif;
  --darkOrange: #C19F62;
  --primaryOrange: #C19F62;
  --darkBlue: #010811;
  --lightBlue: #3586ff;
  --lightOrange: #fef4ea;
  --mainWhite: #ffffff;
  --lightWhite: #f4f4f4;
  --mainBlack: #000000;
  --lightBlack: #121212;
  --mainGray: #666666;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

.hide-bid {
  display: flex;
}

button {
  cursor: pointer;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--darkOrange);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-upload input[type="file"] {
  display: none;
}

.save-reassign {
  border: 0.6px solid #808080;
  padding: 12px 32px;
  border-radius: 24px;
  margin: 24px 0;
  color: #808080;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.save-reassign:hover {
  border: 0.6px solid var(--darkOrange);
  color: #fff;
  background-color: var(--darkOrange);
}

.order-image-container {
  display: flex;
}

.order-image-item {
  flex: 1 0 16%;
  margin-right: -42px;
}

.order-image-item:last-child {
  flex-grow: 1;
  margin-right: 16px;
}

.order-image {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 12px;
  border: 4.3px solid rgba(193, 159, 98, 0.33);
}

@keyframes blinkBorder {
  from {
    border-color: rgba(255, 255, 255, 0.07);
  }
  to {
    border-color: rgba(255, 255, 255, 0.33);
  }
}

.clone {
  font-size: 120px;
}

.hide-this {
  display: block;
}

.first-chat-div {
  width: 100vw;
  height: 100vh;
  background-color: var(--lightWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-room {
  padding-top: 160px;
  background-color: #fff;
  width: 600px;
  overflow-y: scroll;
  height: 74vh;
  padding: 16px;
  padding-bottom: 188px;
}

.chat-input-box {
  width: 570px;
  height: 30px;
  padding: 16px;
  border-radius: 100px;
  border: 1px solid #808080;
  font-family: var(--font-family);
}

.chat-input-btn {
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 12px;
  font-size: 18px;
  border-radius: 100px;
  border: none;
  background-color: var(--darkOrange);
  color: #fff;
  width: 60px;
}

.chat-room-h2 {
  padding-top: 64px;
}

.chat-room-h2-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}

.chat-room-h2-date {
  width: fit-content;
  align-self: center;
  text-align: center;
  font-size: 14px;
  color: var(--darkOrange);
  background-color: rgba(193, 159, 98, 0.1);
  padding: 16px;
  border-radius: 12px;
}

.flex-end {
  align-self: flex-end;
}

.flex-start {
  align-self: flex-end;
}

.imagewrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 16px;
}

.imageimage {
  width: 400px;
}

@media (max-width: 768px) {
  .clone {
    font-size: 48px;
  }

  .hide-this {
    display: none;
  }

  .chat-room {
    width: 100%;
  }

  .chat-input-box {
    width: 82vw;
  }

  .hide-bid {
    display: none;
  }

  .imageimage {
    width: 100%;
  }

  .imagewrapper {
    flex-direction: column;
  }
}

.chat-list .chat-message {
  border-radius: 50px;
  background: #5a99ee;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
}

.chat-list .chat-message:before {
  content: "";
  position: absolute;
  top: 15px;
  width: 0;
  height: 0;
}

.chat-list .chat-message h5 {
  margin: 0 0 5px 0;
  font-weight: 600;
  line-height: 100%;
  font-size: 0.9rem;
}

.chat-list .chat-message p {
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.chat-list .chat-body {
  margin-left: 20px;
  float: left;
  width: 70%;
}

.chat-list .in .chat-message:before {
  left: -12px;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #5a99ee;
}

.chat-list .out .chat-img {
  float: right;
}

.chat-list .out .chat-body {
  float: right;
  margin-right: 20px;
  text-align: right;
}

.chat-list .out .chat-message {
  background: #fc6d4c;
}

.chat-list .out .chat-message:before {
  right: -12px;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #fc6d4c;
}
